#Git
.cache

#Gradle
.gradle/
build/
gradle-app.setting

#Other
*.log

#Eclipse
.project
.classpath
.settings/
bin/

#IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/
projectFilesBackup*/

#Scala
.scala_dependencies
.worksheet

#SBT
.bsp/
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

#Java
*.class